<div>
<script  type="text/javascript">
 </script>
 <h1>Hello {{patient}}</h1>
 <input type="button" value="logout" ng-click="logout()">
 </br>
 <ul>
  <li><a ng-click="setdept(0)">| Cardiology |</a></li>
  <li><a ng-click="setdept(1)">| Opthamology |</a></li>
  <li><a ng-click="setdept(2)">| Physiology |</a></li></br>
 <ul>
  <div ng-repeat="element in currentdept">
	 <input type="button" id={{element}} value={{element.year}} data-ng-click='select($event)' >
  </div>
  
   <div ng-repeat="record in currentrecords">
	 <p>DEPARTMENT: {{record.department}}</p>
	 <p>DIAGNOSIS: {{record.input}}</p>
  </div>
 </div>