<div>
 PATIENT NAME: {{current_patient}}</br></br>
 <input type="button" value="VIEW RECORDS" ng-click="viewRecords()"/></br></br>
 <form>
  <input type="date" ng-model="date"/></br>
  <input type="text" placeholder="diagnosis" ng-model="record.diagnosis" /></BR>
  <textarea placeholder="Medications" ng-model="record.medication"/></textarea></br>
  <input type="button" value="PUSH" ng-click="push()">
  <input type="button" value="NEXT PATIENT" ng-click="nextPatient()">
  <input type="button" value="LOGOUT" ng-click="logout()">
  </form>
</div>