<div>
 PATIENT NAME: {{current_patient}}</br></br>
 <form>
  <input type="date" ng-model="date"/></br>
  <input type="text" placeholder="diagnosis" ng-model="record.diagnosis" /></BR>
  <textarea placeholder="Medications" ng-model="record.medication"/></textarea></br>
   <select ng-model="record.department">
								<option value="None" selected disabled>Department</option>
								<option value="Opthamology">Opthamology</option>
								<option value="Cardiology">Cardiology</option>
								<option value="Physiology">Physiology</option>
							</select>
  <input type="button" value="PUSH" ng-click="push()">
  <input type="button" value="NEXT PATIENT" ng-click="nextPatient()">
 </form>
</div>